{% extends 'base.html.twig' %}


{% block body %}
<div class="">
    <article>
        <h3>{{ category.name }}</h3>
        <div>
            <a href="{{ path('blog')}}">Retour</a>
            
        </div>
    </article>
</div>
{% endblock %}
