{% extends 'base.html.twig' %}

{% block title %}Profil utilisateur{% endblock %}

{% block body %}
<section>
    <h1>Bonjour {{ app.user.username }} !</h1>
    <p>Voici votre profil wemoovies. Alimentez-le pour qu'il vous ressemble !</p>
    <div class="navProfil">
        {# personnal informations #}
        <div>
            <button type="button" class="">Informations</button>
            <div class="" id="myInformations">
                <div>
                    <p>Votre pseudo : {{ app.user.username }} </p>
                    <p>Votre adresse email : {{ app.user.email }} </p>
                    <p>Votre role : {{ app.user.roles[0] }} </p>
                </div>
                <div>
                    <a href="#">Editer mes informations</a>
                    <a href="#">Supprimer mon compte</a>
                </div>
            </div>
        </div>
        {# favorites #}
        <div>
            <button type="button" class="">Favoris</button>
            <div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block javascripts %}
<script>
</script>
{% endblock %}
